.barra-superior{align: "center"}
  %h1 P8 SYTW : ¡¡Tres en Raya!!
  %h4 Víctor Plaza Martín
  %h2
    %a{:href=>"/usuarios"}
      Consultar las estadísticas de otros usuarios
.gameboard
  - HORIZONTALS.each do |row|
    .gamerow
      - row.each do |p|
        %a{:href=>"/"}
          %div{:id => "#{p}", :class => "cell #{b[p]}"}
  .message
    %h1= m
