.message{align: "center"}
  %h1 ESTADÃSTICAS DE USUARIOS
  .tabla
    %table 
      %tr
        %th Usuarios
        %th 
        %th Ganadas
        %th 
        %th Perdidas
      - @usuarios.sort_by {|k, v| v}.reverse.each do |usuario|
        %tr
          %td
            #{usuario.username}
          %td 
          %td
            #{usuario.partidas_ganadas}
          %td 
          %td
            #{usuario.partidas_perdidas}
  .volver
    %a{:href=>"/"}
      Click aqui para volver al juego
